.container {
    width: 70%;
    height: 100vh;
}

.container ul{
    width: 70%;
    height: auto;
}

.container ul li {
    padding: 10px;
    width: 100%;
    transition: ease all 0.2s;
}

.container ul li:hover{
    background: #ccc;
}
